@charset "UTF-8"; 

html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }
  body {
    font-family: Georgia, serif; 
    font-size: 100%;
    background-color: white;
    margin: 0;
  }
  /* CSS added for Responsive NavBar tutorial chapter 16 */
  
  .container > li {
    padding: 10px;
    text-align: center;
    font-size: 1.6em;
    color: black;
    box-sizing: border-box;
    background-color: #96ceb4;
    list-style-type: none;
  }
  .search-input {
    background: #ff6e68;
    border: 0;
    width: 100%;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ffeead;
    color: #ffeead;
  }
  ::placeholder{
    color: black;
    font-weight: bold;
  }
  
  .search-input:focus {
    outline: none;
  }
  
  .container {
    border: 5px solid #ffcc5c;
    display: flex;
    padding: 0;
  }
  /* @media all and (max-width: 600px) {
    .container {
      flex-wrap: wrap;
    }
    .container > li {
      flex: 1 1 50%;
    }
    
    .search > input {
      text-align: center;
    }
  } */
  .search {
    flex: 1;
  }
  
  
  
  /* GRID STYLES START HERE */
  #layout {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;       /* added exercise 16-4 */
    grid-template-rows: 15px 5em 10px 150px auto 5em 15px;  /* added exercise 16-4 */
    grid-template-columns: .08fr .15fr 10px 1fr 10px .15fr .08fr;  /* fractional gives responsive design that shinks the container*/
    grid-template-rows: 15px 5em 10px 150px auto 5em 15px;    /* 300 could be auto so content didn't flow outside*/
   

  }
  nav{               
  grid-area: 2 / 2 / 3 / 7;
  background-color: rgb(143, 143, 143);
  }
 
  main {
    font-family: 'Stint Ultra Expanded', Georgia, serif;
    background-color: orange;
    line-height: 1.8em;
    color: white;  
    grid-row: 4 / 6 ;  
    grid-column:  4 / 5;
    /* grid-row: main-start / main-end;    this added exercise 16-5  */
    /* grid-column: main-start / main-end;     this added exercise 16-5  */
  }
  #figA{    
    grid-area: 4 / 2 / 5 / 3;
    background-color: yellow;
    text-align: center;
    font-size: 1.2em;
  }
  #figB{     
    grid-row: 5 / 6;  
    grid-column: 2 / 3;
    background-color: green;
    text-align: center;
    font-size: 1.2em;
  }  
  #figC{     
    grid-row: 4 / 6;  
    grid-column: 6 / 7;
    background-color: blue;
    text-align: center;
    font-size: 1.2em;
  } 
  .aboveNav{     
    grid-row: 1 / 2;  
    grid-column: 2 / 7;
    background-color: red;
    text-align: center;
    font-size: 1.2em;
  } 
  
  .lBorder{     
    grid-row: 1 / 8;  
    grid-column: 1 / 2;
    background-image: linear-gradient(red, black 65%);
    text-align: center;
    font-size: 1.2em;
  } 
  .rBorder{     
    grid-row: 1 / 8;  
    grid-column: 7 / 8;
    background-image: linear-gradient(red, black 65%);
    text-align: center;
    font-size: 1.2em;
  } 
  .belowNav{     
    grid-row: 7 / 8;  
    grid-column: 2 / 7;
    background-color: black;
    text-align: center;
    font-size: 1.2em;
  } 

  figure {
    margin: 0;
    padding: 0;
     /* clears browser styles for figures */
  }
  
  footer {
    color: black;
    background-color: rgb(143, 143, 143);
    text-align: center;
    font-size: 1.2em;
    padding: .5em;
    grid-row: 6 / 7;    /* this added exercise 16-5  */
    grid-column: 2 / 7;    /* this added exercise 16-5  */
  }